.login{
    background:url(../../common/images/beer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding:50px;
    position:fixed;
    width:100%;
    height:100%;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
}

.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
}

.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
}

