<div class="nonHomePage wrapper" ng-controller="AdminController">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Admin </a>
      </div>

      <!-- Top Menu Items -->
      <ul class="nav navbar-nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i><b> Usuario </b><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="popupModal('monitor-modal')"><i class="fa fa-fw fa-gear"></i> Cambiar contraseña </a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()"><i class="fa fa-fw fa-sign-out"></i> Log Out </a></li>
          </ul>
        </li>
      </ul>

      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse" id="#navbar-collapse-2">
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="#" ng-click="popupModal('fases-modal')"><i class="fa fa-fw fa-plus"></i> Crear receta </a>
            <a href="#" ng-click="popupModal('recipe-modal')"><i class="fa fa-fw fa-wrench"></i> Trabajar en recetas </a>
            <a href="#" ng-click="listCooking()"><i class="fa fa-fw fa-list"></i> Lista de cocinadas </a>
            <a href="#" ng-click="supervision()"><i class="fa fa-fw fa-eye"></i> Supervisión proceso </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

  </nav>

  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">

          <div id="recipeForm" style="display: none;">
            <h1 class="page-header">Receta {{receta.nombre}}</h1><br>
            <form name="userForm" ng-submit="saveRecipe()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

              <div class="row form-group">
                <ng-form name="nameFieldForm">
                  <label>Nombre</label>
                  <input type="text" name="name" class="form-control" ng-model="receta.nombre" ng-model-options="{ updateOn: 'blur' }" required>
                  <p ng-show="nameFieldForm.name.$invalid && !nameFieldForm.name.$pristine" class="text-danger"><i class="fa fa-fw fa-warning"></i>Campo requerido</p>
                </ng-form>
              </div>

              <h1>Fases</h1>
              <div class="row form-group" ng-repeat="recetaFase in receta.fases track by $index">
                <ng-form name="faseFieldForm">
                  <div class="col-lg-5">
                    <label>Temperatura (ºC)</label>
                    <input type="number" name="temp1" class="form-control" ng-model="recetaFase.temp" ng-model-options="{ updateOn: 'blur' }" required>
                    <p ng-show="faseFieldForm.temp1.$invalid && !faseFieldForm.temp1.$pristine" class="text-danger"><i class="fa fa-fw fa-warning"></i>Campo requerido</p>
                  </div>
                  <div class="col-lg-5">
                    <label>Tiempo (minutos)</label>
                    <input type="number" name="time1" class="form-control" ng-model="recetaFase.time" ng-model-options="{ updateOn: 'blur' }" required>
                    <p ng-show="faseFieldForm.time1.$invalid && !faseFieldForm.time1.$pristine" class="text-danger">C<i class="fa fa-fw fa-warning"></i>ampo requerido</p>
                  </div>
                  <div class="col-lg-2">
                    <label>Diferencial T (ºC)</label>
                    <input type="number" name="tdif1" class="form-control" ng-model="recetaFase.tdiff" ng-model-options="{ updateOn: 'blur' }" required>
                    <p ng-show="faseFieldForm.tdif1.$invalid && !faseFieldForm.tdif1.$pristine" class="text-danger"><i class="fa fa-fw fa-warning"></i>Campo requerido</p>
                  </div>
                </ng-form>                  
              </div>
              
              
              <!-- SUBMIT BUTTON -->
              <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Guardar</button>
              
            </form>
          </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive" id="listOfCooks" style="display: none;">
              <h1 class="page-header">Lista de Logs</h1>
              <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Descarga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in logs | orderBy:sortType:sortReverse" >
                            <td width="45%">{{ x.date }}</td>
                            <td width="45%">{{ x.name }}</td>
                            <td width="10%" align="center"><a href="#" ng-click="downloadLog(x.name)"><i class="fa fa-fw fa-download"></i></a></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal container -->
  <div class="modal fade" id="monitor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Cambie contraseña</h1><br>
        <form name="changePassForm">
          <input type="password" ng-model="user.oldPass" placeholder="Antigua contraseña">
          <input type="password" ng-model="user.newPass" placeholder="Nueva contraseña">
          <input type="password" ng-model="user.repeatPass" placeholder="Repita contraseña">
          <button type="button" class="btn btn-primary btn-block" ng-click="cambiarContrasena(user)" data-dismiss="modal" ng-disabled="changePassForm.$invalid">Cambiar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal container -->
  <div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Seleccione receta</h1><br>
        <form>
          <select ng-model="recetaNombre" ng-options="x for x in listaRecetas" required>
            <option value="">Seleccione Receta</option> 
          </select>
          <button type="button" class="btn btn-primary btn-block" ng-click="startEditRecipe(recetaNombre)" data-dismiss="modal"> Modificar </button>
          <button type="button" class="btn btn-danger btn-block" ng-click="deleteRecipe(recetaNombre)" data-dismiss="modal" href="#"> Borrar </button>
        </form>
      </div>
    </div>
  </div>

    <!-- Modal container -->
  <div class="modal fade" id="fases-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Seleccione número de fases</h1><br>
        <form name="fasesForm">
          <input type="number" ng-model="numFases" required>
          <button type="button" class="btn btn-primary btn-block" ng-click="createRecipe(numFases)" data-dismiss="modal" ng-disabled="fasesForm.$invalid"> Crear </button>
        </form>
      </div>
    </div>
  </div>

</div>