<div class="nonHomePage wrapper" ng-controller="AdminController">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Admin </a>
      </div>

      <!-- Top Menu Items -->
      <ul class="nav navbar-nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i><b> Usuario </b><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="popupModal('input-modal')"><i class="fa fa-fw fa-gear"></i> Cambiar contraseña </a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="UsersDAO.logout()"><i class="fa fa-fw fa-sign-out"></i> Log Out </a></li>
          </ul>
        </li>
      </ul>

      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse" id="#navbar-collapse-2">
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="#" ng-click="popupModal('rcpName-modal')"><i class="fa fa-fw fa-plus"></i> Crear receta </a>
            <a href="#" ng-click="popupModal('recipe-modal')"><i class="fa fa-fw fa-wrench"></i> Trabajar en recetas </a>
            <a href="#" ng-click="listCooking()"><i class="fa fa-fw fa-list"></i> Lista de cocinadas </a>
            <!--a href="#" ng-click="supervision()"><i class="fa fa-fw fa-eye"></i> Supervisión proceso </a-->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

  </nav>

  <div class="page-wrapper">

    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-6">
          <div id="recipeForm" style="display: none;">
            <h1 class="page-header">Receta {{receta.Nombre}}</h1><br>
            <div class="panel panel-default">
              <div class="panel-heading">
                  <font size="5"> Pasos </font>
                  <a class="btn btn-danger" href="#" style="float:right;" ng-click="hideRecipe()">
                    <span class="fa fa-fw fa-trash img-circle"></span>
                    Descartar
                  </a> 
                  <a class="btn btn-primary" href="#" style="float:right;" ng-click="saveRecipe()">
                    <span class="fa fa-fw fa-save img-circle"></span>
                    Guardar
                  </a> 
                  <a class="btn btn-success" href="#" style="float:right;" ng-click="addStep()">
                    <span class="fa fa-fw fa-plus img-circle"></span>
                    Agregar
                  </a> 
              </div>
              <div class="panel-body">
                <div class="list-group">
                  <div ng-repeat="x in receta.Instrucciones">
                    <li class="list-group-item" >
                      <a href="#" ng-click="moveDownStep($index)" class="glyphicon btn-glyphicon2 glyphicon-arrow-down img-circle"></a>
                      <a href="#" ng-click="moveUpStep($index)" class="glyphicon btn-glyphicon2 glyphicon-arrow-up img-circle"></a>
                      {{ x.msg }} 
                      <a href="#" ng-click="deleteStep($index)" class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger flRight"></a>
                      <a href="#" ng-click="editStep($index)" class="glyphicon btn-glyphicon glyphicon-pencil img-circle flRight"></a>
                    </li>
                  </div>                    
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"/>
        <div class="col-lg-5">
          <div id="pasoForm" style="display: none;">
            <h1 class="page-header"> Paso </h1><br>
            <form name="userForm"> 
              <!-- msg -->
              <div class="row form-group">
                <label> Descripción </label>
                <input type="text" class="form-control" ng-model="paso.msg" required>
              </div><br>
              <!-- autom -->
              <div class="row form-group">
                <label> Control : </label>
                Automático <input type="radio" ng-model="paso.autom" ng-value="true" >
                Manual <input type="radio" ng-model="paso.autom" ng-value="false">
              </div><br>
              <!-- detalle -->
              <div class="row form-group">
                <label>Detalles</label>
                <textarea ng-model="paso.Detalle" class="form-control"/>
              </div><br>
              <!-- fases ??? -->
              <div class="row form-group" ng-if="paso.autom == true">
                <label>Ingrese Número de fases</label>
                <input type="number" ng-model="paso.numFases" class="form-control" required>
                <div class="row form-group" ng-repeat="i in getNumber(paso.numFases) track by $index">
                  <div class="col-lg-4">
                    <label>Temperatura (ºC)</label>
                    <input type="number" class="form-control" ng-model="paso.fases[$index].temp" required>
                  </div>
                  <div class="col-lg-4">
                    <label>Tiempo (minutos)</label>
                    <input type="number" class="form-control" ng-model="paso.fases[$index].time" required>
                  </div>
                  <div class="col-lg-4">
                    <label>Diferencial T (ºC)</label>
                    <input type="number" class="form-control" ng-model="paso.fases[$index].tdiff" required>
                  </div>
                </div><br>
              </div>

              <!-- botones -->
              <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="saveStep(paso)">{{ btnMsg }}</button>
              <button class="btn btn-danger" ng-click="hideStep()">Descartar</button>
            </form>
          </div>
        </div>

        <div class="col-lg-12">
            <div class="table-responsive" id="listOfCooks" style="display: none;">
              <h1 class="page-header">Lista de Logs</h1>
              <div class="panel panel-default">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Descarga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in logs | orderBy:sortType:sortReverse" >
                            <td width="45%">{{ x.date }}</td>
                            <td width="45%">{{ x.name }}</td>
                            <td width="10%" align="center"><a href="#" ng-click="downloadLog(x.name)"><i class="fa fa-fw fa-download"></i></a></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal container -->
  <div class="modal fade" id="input-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Cambie contraseña</h1><br>
        <form name="changePassForm">
          <input type="password" id="textInputModal" ng-model="user.oldPass" placeholder="Antigua contraseña">
          <input type="password" ng-model="user.newPass" placeholder="Nueva contraseña">
          <input type="password" ng-model="user.repeatPass" placeholder="Repita contraseña">
          <button type="button" class="btn btn-primary btn-block" ng-click="UsersDAO.cambiarContrasena(user)" data-dismiss="modal" ng-disabled="changePassForm.$invalid">Cambiar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal container -->
  <div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Seleccione receta</h1><br>
        <form name="selectResetaForm">
          <select ng-model="recetaNombre" ng-options="x for x in listaRecetas" required>
            <option value="">Seleccione Receta</option> 
          </select>
          <button type="button" class="btn btn-primary btn-block" ng-click="startEditRecipe(recetaNombre)" data-dismiss="modal" ng-disabled="selectResetaForm.$invalid"> Modificar </button>
          <button type="button" class="btn btn-danger btn-block" ng-click="deleteRecipe(recetaNombre)" data-dismiss="modal" ng-disabled="selectResetaForm.$invalid"> Borrar </button>
        </form>
      </div>
    </div>
  </div>

    <!-- Modal container -->
  <div class="modal fade" id="rcpName-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Ingrese nombre de la receta</h1><br>
        <form name="rcpNameForm">
          <input type="text" id="rcpNameInputModal" ng-model="recetaNombre" key-binding="createRecipe(recetaNombre)" key="13" required>
          <button type="button" class="btn btn-primary btn-block" ng-click="createRecipe(recetaNombre)" ng-disabled="rcpNameForm.$invalid"> Crear </button>
        </form>
      </div>
    </div>
  </div>

</div>