<div class="login" ng-controller="LoginController">
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Página cervecera </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse top-nav" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="https://www.homebrewersassociation.org/"> Home Brewer Association </a></li>
        </ul>
        <form class="navbar-form navbar-left top-nav" role="search">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="keywords" placeholder="Buscar en Google">
          </div>
          <button type="submit" class="btn btn-default" ng-click="searchGoogle(keywords)"> Buscar </button>
        </form>
        <ul class="nav navbar-nav navbar-right top-nav">
          <li><a data-toggle="modal" href="#login-modal"><b><i class="fa fa-fw fa-sign-in"></i> Login </b> <span class="caret"></span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Modal container -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="slidemodal-container">
      <h1>Ingrese usuario y contraseña</h1><br>
      <form>
        <input type="text" ng-model="user.username" placeholder="Usuario">
        <input type="password" ng-model="user.password" placeholder="Contraseña">
        <button type="button" class="btn btn-primary btn-block" ng-click="login(user)"> Sign in </button>
      </form>
    </div>
  </div>

</div>
