<div class="nonHomePage wrapper" ng-controller="MonitorController">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Monitor </a>
      </div>

      <!-- Top Menu Items -->
      <ul class="nav navbar-nav navbar-right top-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-user"></i><b> Usuario </b><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-click="popupModal('monitor-modal')" href="#"><i class="fa fa-fw fa-gear"></i> Cambiar contraseña </a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()"><i class="fa fa-fw fa-sign-out"></i> Log Out </a></li>
          </ul>
        </li>
      </ul>

      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse" id="#navbar-collapse-2">
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="#" ng-click="popupModal('recipe-modal')"><i class="fa fa-fw fa-wrench"></i> Seleccionar receta </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

  </nav>


  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
            </div>
            <div class="panel-body">
              <div class="list-group">
                <div ng-repeat="x in instrucciones">
                  <a class="list-group-item" ng-if="paso > $index">
                    <i class="fa fa-fw fa-check-circle" ></i> {{ x.msg }}
                    <button type="button" class="btn btn-primary badge" ng-click="pasoSiguiente()" ng-if="paso == $index">Continuar</button>
                  </a>
                  <a class="list-group-item" ng-if="paso <= $index">
                    <i class="fa fa-fw fa-wrench" ng-if="paso <= $index"></i> {{ x.msg }}
                    <button type="button" class="btn btn-primary badge" ng-click="pasoSiguiente()" ng-if="paso == $index">Continuar</button>
                  </a>
                </div>                    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal container -->
  <div class="modal fade" id="monitor-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Cambie contraseña</h1><br>
        <form name="changePassForm">
          <input type="password" ng-model="user.oldPass" placeholder="Antigua contraseña">
          <input type="password" ng-model="user.newPass" placeholder="Nueva contraseña">
          <input type="password" ng-model="user.repeatPass" placeholder="Repita contraseña">
          <button type="button" class="btn btn-primary btn-block" ng-click="cambiarContrasena(user)" data-dismiss="modal" ng-disabled="changePassForm.$invalid">Cambiar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal container -->
  <div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="slidemodal-container">
        <h1>Seleccione receta para comenzar</h1><br>
        <form>
          <select ng-model="receta" ng-options="x for x in recetas"></select>
          <button type="button" class="btn btn-primary btn-block" ng-click="startProcess(receta)" data-dismiss="modal"> Comenzar </button>
        </form>
      </div>
    </div>
  </div>
</div>