<div class="container">

  <div class="beer-panel transition">

    <form name="BeerForm"
          ng-submit="beerCtrl.createBeer(beerCtrl.beer)" >

      <div class="title-container">
        <h1 class="text-muted text-center">Beer</h1>
      </div>

      <hr />

      <div class="beers-container">

        <input type="text"
               class="form-control input-lg"
               placeholder="Sooo... what are you doing today? ;)"
               ng-model="beerCtrl.beer.beerMessage"
               name="beerMsg"
               maxlength="100"
               ng-maxlength="100"
               ng-minlength="5"
               required
               autofocus />

        <ng-messages for="BeerForm.beerMsg.$error">
          <ng-message when="required" class="error-msg">Beer field is required</ng-message>
          <ng-message when="minlength" class="error-msg">Min of 5 chars</ng-message>
          <ng-message when="maxlength" class="error-msg">Max of 100 chars</ng-message>
        </ng-messages>

        <br /><br />

        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="t in beerCtrl.beers | orderBy: '-createdAt'">
              <td class="text-muted beer-in-beers">
                <span ng-bind="t.beerMessage"></span>
                <div class="beer-done transition"
                     ng-click="beerCtrl.deleteBeer(t._id)">x</div>
              </td>

            </tr>
          </tbody>
        </table>

        <div ng-if="!beerCtrl.beers.length">
          <h3 class="text-muted text-center">Nothing to do. Go play outside :D</h3>
        </div>

      </div>

      <hr />

      <div class="footer-container">
        <button type="submit"
                id="submit-beer-button"
                class="btn btn-success btn-block btn-lg submit-beer"
                ng-disabled="BeerForm.$invalid || !beerCtrl.beer.isValid()"> ADD </button>
      </div>

    </form>

  </div>
</div>
